body h1 {
    margin-top: 100px ;
    /* margin-left: 44%; */
}

* {
    box-sizing: border-box;
  }

  #myLI {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 20px;
  }

  #myUL {
      width: 40rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: solid black 1px;
      /* padding: 10px; */
      /* margin-left: 44%; */
  }

  img {
    width: 200px;
    height: 150px;
      padding-top: 20px;
  }

  .searchbox{
    /* padding: 10px; */
    position: relative;
    /* margin-left: 44%; */
    width: 40rem;
}
.search-country-input{
    width: 100%;
    /* position: absolute; */
    border: 1px solid #ccc;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    outline: none;
}
.search-button{
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: white;
    color: black;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }

  .center{
    margin-left: 30%;
    margin-top: 3%;
}

.searchbox input::after {
  content: "";
  clear: both;
  display: table;
}


@media  screen and (max-width: 600px) {
  
}
